.logoutbtn {
  color: black;
  background-color: white;
  border: none;
  font-size: larger;
  font-family: "Orbitron", sans-serif;
}
.entireForm {
  background-color: white;
  max-width: fit-content;
  align-items: center;
  border: 2px black solid;
  margin: auto;
  margin-top: 10%;
  padding: 50px;
}
.solemateLogin {
  color: crimson;
  font-family: "Orbitron", sans-serif;
  margin-top: 50px;
}
label,
.form-group {
  color: black;
  font-family: "Yomogi", cursive;
}
.form-submit {
  color: green;
  font-family: "Orbitron", sans-serif;
  margin-top: 25px;
}
