body {
  background-color: white;
}
.solemate {
  text-align: left;
  color: crimson;
  font-family: "Orbitron", sans-serif;
}

h1 {
  text-align: center;
}

.aboutUs {
  font-size: xx-large;
  text-align: center;
  font-family: "Yomogi", cursive;
  margin-top: 7%;
}
p {
  font-size: 15px;
  font-family: "Orbitron", sans-serif;
  margin: 20px 30px 0 30px;
}
.aboutImg {
  align-items: center;
  margin-left: 33%;
}
.thankYou {
  font-size: xx-large;
  color: black;
  font-family: "Yomogi", cursive;
  margin-left: 40%;
}
.header {
  width: 100%;
  height: 12%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: 100% 100%;
}

.footer-div {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-top: 500px;
  color: white;
}
.homeHeader {
  color: red;
  font-family: "Orbitron", sans-serif;
}
.imgHome {
  height: 300px;
  width: 450px;
  align-items: center;
  margin-left: 40%;
}

.buy-btn {
  border: none;
  height: 100px;
  width: 300px;
  color: red;
  background-color: white;
  display: block;
  margin-left: 45%;
}
.buy-btn:hover {
  border: none;
  background-color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  transition: 1s;
}
.home,
.about,
.new-releases {
  color: red;
  background-color: white;
  border: none;
  font-size: larger;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
}

.new-release-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shoe-div {
  width: 20%;
}

.shoe-img {
  width: 100%;
}

.contactUsContainer {
  background-color: white;
  max-width: fit-content;
  align-items: center;
  border: 2px black solid;
  margin: auto;
  margin-top: 10%;
  padding: 50px;
}

.logos {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 30%;
  background-color: white;
  border: none;
}

.logo:hover {
  background-color: wheat;
  transition: 1s;
}

.logo img {
  width: 30%;
}
.size-div {
  width: 10%;
}
.shoe-font {
  font-size: large;
  color: black;
  font-family: "Yomogi", cursive;
}
.cartLogo {
  max-width: 30px;
  max-height: 30px;
}
.cartLogobtn {
  background-color: white;
  border: none;
}
.home-div {
  margin-top: 10%;
}
.nike {
  color: black;
  font-family: "Anton", sans-serif;
}
.jordan-font {
  color: black;
  font-family: "Oswald", sans-serif;
}
.cartDiv {
  border: black 5px;
  background-color: white;
  align-items: center;
}
.cartbtn {
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: "Orbitron", sans-serif;
  margin-top: 50px;
  font-size: xx-large;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.cartStyle {
  background-color: white;
  max-width: fit-content;
  align-items: center;
  border: 2px black solid;
  margin: auto;
  margin-top: 10%;
}
.privacy-div {
  margin-top: 100px;
}
